@font-face {
  font-family: "Glancyr regular";
  src: url("/public/fonts/Glancyr-Regular.otf");
}

@font-face {
  font-family: "Glancyr";
  src: url("/public//fonts/Glancyr-Bold.otf");
}

@font-face {
  font-family: "chakra petch";
  src: url("/public/fonts/ChakraPetch-Regular.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: Glancyr;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* fonts */
.hero-font {
  font-family: Glancyr;
}
.sub-font {
  font-family: Glancyr regular;
}
.chakra {
  font-family: chakra petch;
}
.hero-banner {
  background-image: url("/assets/heri-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
}
.about-banner,
.contact-hero {
  background-image: url("/assets/heri-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
}
.bg-summit {
  background-image: url("/assets/summit.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 100vh; */
}
.regsection-bg {
  background-image: url("/assets/register.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
